@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scaleCheck {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.animate-scale-check {
  animation: scaleCheck 0.3s ease-in-out forwards;
}
